.agent-node {
  @apply w-72 h-64 rounded-lg;

  .agent-node-container {
    @apply w-full h-full rounded-lg;
  }
}

.react-flow__handle {
  @apply rounded-full p-2.5;

  &.react-flow__handle-right {
    @apply -right-6 bg-white;
  }

  &.react-flow__handle-left {
    @apply -left-6 bg-white;
  }

  &.react-flow__handle-top {
    @apply -top-6 bg-white;
  }

  &.react-flow__handle-bottom {
    @apply -bottom-6 bg-white;
  }
}

.react-flow__edge * {
  @apply stroke-primary stroke-[0.3rem];
}

.init-node {
  @apply w-72 h-56 px-11 py-11 text-left rounded-lg font-sans text-2xl font-bold leading-8
  tracking-tight;

  .init-node-label {
    @apply w-full h-full;
  }
}

.approval-node {
  @apply w-72 h-32 rounded-xl border border-[#414141] bg-[linear-gradient(89deg,#333C44_14.21%,#2D2F32_101.01%)] shadow-[0px_1px_4px_0px_rgba(0,0,0,0.15)] relative;

  .approval-details-container {
    @apply w-full h-full flex flex-col items-center justify-around p-4 rounded-xl;

    .approval-header {
      @apply w-full h-full flex items-center justify-start gap-2;

      .pencil-icon {
        @apply text-color-light self-start content-end stroke-1 ml-auto cursor-pointer;
      }
    }

    .approval-body {
      @apply w-full h-full flex flex-col items-start justify-start;
    }
  }

  .approval-buttons {
    @apply absolute -right-16 top-1/2 -translate-y-1/2 flex flex-col gap-2;

    .approval-button {
      @apply w-14 h-[3.8125rem] rounded-lg border border-[#414141]
      bg-[linear-gradient(89deg,#333C44_14.21%,#2D2F32_101.01%)]
      shadow-[0px_1px_4px_0px_rgba(0,0,0,0.15)]
      flex items-center justify-center transition-all duration-200
      hover:brightness-110 active:brightness-90;

      &.approval-button-approved,
      &.approval-button-rejected {
        @apply bg-[linear-gradient(89deg,#5F42F1_14.21%,#502DFF_101.01%)];
      }
    }
  }

  .react-flow__handle-right {
    @apply -right-24;
  }
}

.root-node {
  @apply w-32 h-32 rounded-full bg-white stroke-1 stroke-zinc-500 drop-shadow-[0_1px_4px_rgba(0,0,0,0.15)] flex
  items-center justify-center cursor-pointer;

  .inner-circle {
    @apply w-24 h-24 rounded-full bg-[linear-gradient(270deg,#A852FF_11.51%,#6A52FF_92.43%)] flex items-center
    justify-center;
  }
}

.delivery-node {
  @apply flex w-20 h-20 justify-center items-center rounded-[1.25rem] border border-[#555555] bg-color-muted-gray transition-all duration-300;

  .delivery-icon {
    @apply w-full h-full text-[#BAC5D1];
  }

  &.delivery-node-open {
    @apply relative;

    .delivery-icon {
      @apply w-[160%] h-[160%] absolute -translate-x-[53%] -translate-y-[53%] left-1/2 top-1/2;
    }
  }
}

.delivery-node-ready,
.delivery-node-open {
  @apply bg-gradient-to-r from-[#C1D6E7] to-[#E1E4EB] border-none;

  .delivery-icon {
    @apply text-black;
  }
}
