{
    "jsxSingleQuote": false,
    "bracketSameLine": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": ["*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
