{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "bracketSameLine": false,
    "plugins": [],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
            "options": {
                "printWidth": 120,
                "breakChains": true,
                "chainBreakTest": "always",
                "arrowFunctionParentheses": "avoid",
                "arrowBodyStyle": "as-needed",
                "singleLineFunctions": false
            }
        },
        {
            "files": ["*.json", "*.md"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
