{
    "semi": true,
    "singleQuote": true,
    "printWidth": 160,
    "tabWidth": 4,
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": ["*.{js,jsx,ts,tsx}"],
            "options": {
                "bracketSpacing": true,
                "singleAttributePerLine": false,
                "bracketSameLine": true,
                "printWidth": 160,
                "arrowParens": "avoid",
                "singleQuote": true,
                "semi": true,
                "trailingComma": "none",
                "quoteProps": "as-needed"
            }
        },
        {
            "files": ["*.css"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "parser": "json"
            }
        }
    ]
}
