@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
  --card: #FFFFFF;
  --card-foreground: #0F172A;
  --border: #E2E8F0;
  --input: #E2E8F0;
  --primary-hover: #312ECB;
  --primary: #2978F3;
  --primary-foreground: #FFFFFF;
  --secondary: #FFFFFF;
  --secondary-foreground: #0F172A;
  --success: #10b981;
  --accent: #F1F5F9;
  --accent-foreground: #0F172A;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --muted: #F1F5F9;
  --muted-foreground: #64748B;
}

.dark {
  --background: #0F172A;
  --foreground: #E2E8F0;
  --card: #1E293B;
  --card-foreground: #E2E8F0;
  --border: #334155;
  --input: #334155;
  --primary: #4F46E5;
  --primary-hover: #312ECB;
  --primary-foreground: #FFFFFF;
  --secondary: #3D4552;
  --secondary-foreground: #E2E8F0;
  --success: #4ADE80;
  --accent: #2D3543;
  --accent-foreground: #E2E8F0;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --muted: #1E293B;
  --muted-foreground: #94A3B8;
}

body {
  @apply antialiased w-screen bg-[var(--background)] text-[var(--foreground)];
}

div {
  @apply outline-0 bg-transparent;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

a {
  @apply text-[#312ECB] dark:text-[#6366f1] hover:underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
