@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 15, 23, 42;
  --card: 255, 255, 255;
  --card-foreground: 15, 23, 42;
  --border: 226, 232, 240;
  --input: 226, 232, 240;
  --primary: 49, 46, 203;
  --primary-foreground: 255, 255, 255;
  --secondary: 241, 245, 249;
  --secondary-foreground: 15, 23, 42;
  --accent: 241, 245, 249;
  --accent-foreground: 15, 23, 42;
  --destructive: 239, 68, 68;
  --destructive-foreground: 255, 255, 255;
  --muted: 241, 245, 249;
  --muted-foreground: 100, 116, 139;
}

.dark {
  --background: 15, 23, 42;
  --foreground: 226, 232, 240;
  --card: 30, 41, 59;
  --card-foreground: 226, 232, 240;
  --border: 51, 65, 85;
  --input: 51, 65, 85;
  --primary: 79, 70, 229;
  --primary-foreground: 255, 255, 255;
  --secondary: 30, 41, 59;
  --secondary-foreground: 226, 232, 240;
  --accent: 17, 24, 39;
  --accent-foreground: 226, 232, 240;
  --destructive: 239, 68, 68;
  --destructive-foreground: 255, 255, 255;
  --muted: 30, 41, 59;
  --muted-foreground: 148, 163, 184;
}

body {
  @apply antialiased w-screen bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
}

div {
  @apply outline-0 bg-transparent;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

a {
  @apply text-[#312ECB] dark:text-[#6366f1] hover:underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
