@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --primary-hover: #312ecb;
  --primary: #2978f3;
  --cloud-people-primary: #56e8cd;
  --cloud-people-secondary: #4630d4;
  --text-gray: #4c5461;
  --bg-gray: #f3f4f6;
  --primary-foreground: #ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #0f172a;
  --success: #10b981;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --card-background: #ffffff;
}

.dark {
  --background: #0f172a;
  --foreground: #e2e8f0;
  --card: #1e293b;
  --card-foreground: #e2e8f0;
  --border: #334155;
  --input: #334155;
  --primary: #4f46e5;
  --primary-hover: #312ecb;
  --primary-foreground: #ffffff;
  --secondary: #3d4552;
  --text-gray: #6c757d;
  --bg-gray: #394150;
  --cloud-people-primary: #56e8cd;
  --cloud-people-secondary: #4630d4;
  --secondary-foreground: #e2e8f0;
  --success: #4ade80;
  --accent: #2d3543;
  --accent-foreground: #e2e8f0;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --card-background: #212936;
}

body {
  @apply antialiased w-screen bg-[var(--background)] text-[var(--foreground)];
}

div {
  @apply outline-0 bg-transparent;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

a {
  @apply text-[#312ECB] dark:text-[#6366f1] hover:underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
