main {
  @apply w-screen h-screen bg-color-dark-gray;
}

.error-container {
  @apply flex h-full flex-col items-center justify-center;

  h2 {
    @apply text-center;
  }

  .retry-button {
    @apply mt-4 py-3 px-5 rounded-lg bg-blue-500;
  }
}
