.test-button {
  @apply h-full px-2 rounded-[1.25rem] bg-dark text-white/60 hover:text-white font-sans font-bold
  text-2xl flex items-center gap-x-2 shadow-default transition-all duration-300 ease-in-out border border-nav-border;
}

.test-button-label {
  @apply w-12 text-center mr-2;
}
