.flow-container {
  @apply w-full h-full bg-black;

  .flow-panel {
    @apply flex items-center justify-between gap-5 w-[22rem] h-16 left-28 top-4 font-sans font-bold text-5xl leading-8
    text-gray-300 m-0;
  }

  .flow-controls {
    @apply flex items-center justify-around w-[38.375rem] h-16 left-[35%] top-4 bg-dark rounded-[1.25rem]
    shadow-default;
  }
}

.react-flow__panel {
  @apply m-0;
}

.flow-controls button {
  @apply flex items-center justify-around w-full h-full border-x border-solid border-[#3D3D3D]
  text-white/60 hover:text-white transition-all duration-300 ease-in-out;

  &:first-child {
    @apply border-l-0 rounded-l-[1.25rem];
  }

  &:last-child {
    @apply border-r-0 rounded-r-[1.25rem];
  }
}

.icon-button {
  @apply size-7 flex items-center justify-center;

  &.branches-icon {
    @apply fill-transparent;
  }
}
