.agent-card-base {
  @apply flex w-full h-full p-4 flex-col items-start justify-between rounded-lg border border-color-gray font-inter
  text-sm bg-[linear-gradient(89deg,#333C44_14.21%,#2D2F32_101.01%)] shadow-[0px_1px_14px_0px_rgba(0,0,0,0.15)];

  .agent-title-section {
    @apply flex gap-x-3 items-center w-full;

    .avatar {
      @apply w-12 h-12 rounded-full flex-shrink-0;
    }

    .agent-name {
      @apply flex-grow min-w-0;

      h3 {
        @apply font-bold text-color-light text-base;
      }

      p {
        @apply text-gray-400 text-sm truncate;
      }
    }

    .info-icon-button {
      @apply w-6 h-6 border-none self-start;
    }
  }

  .core-skills-section {
    @apply flex flex-col w-full text-color-light;

    .skill-label {
      @apply font-medium pl-2 w-full;
    }

    .skill-value {
      @apply bg-[#3C464F] text-color-light py-1.5 px-2 rounded-md w-full truncate;
    }
  }

  .stats-section {
    @apply flex flex-col w-full text-color-light;

    .stat-label {
      @apply font-medium pl-2 w-full;
    }

    .stat-item-container {
      @apply flex w-full justify-between items-center;

      .stat-item {
        @apply flex items-center justify-center gap-1 w-20 h-8 bg-[#45505A] rounded-lg py-1 px-1;

        svg {
          @apply w-4 h-4 flex-shrink-0;
        }
      }
    }
  }

  .agent-tools-section {
    @apply flex flex-col w-full text-color-light;

    .tool-label {
      @apply font-medium pl-2 w-full;
    }

    .tool-item-container {
      @apply flex justify-between w-full h-full font-semibold;

      .tool-item {
        @apply flex items-center gap-1 w-2/5 h-8 rounded-lg bg-[#39434B] py-2 px-2;

        .tool-item-placeholder {
          @apply flex-shrink-0 w-6 h-6 rounded-full bg-dark;
        }

        p {
          @apply truncate min-w-0;
        }
      }

      .more-tools {
        @apply flex items-center justify-center w-8 h-8 rounded-full bg-[#39434B] text-sm py-1 px-2 flex-shrink-0;
      }
    }
  }
}

.activating-agent-card {
  @apply flex w-72 h-52 p-2.5 flex-col justify-center items-center gap-2.5 rounded-lg border border-[#414141]
  bg-gradient-to-br from-[#2d2e32] via-[#4b4d54] to-[#2d2e32] text-white;

  .avatar {
    @apply rounded-3xl border border-white w-12 h-12;
  }

  .agent-info-section {
    @apply flex flex-col items-center justify-center gap-1 w-1/2 p-2 text-[#9BA0B8] font-inter;

    .agent-name {
      @apply flex items-center justify-center gap-1 w-full text-[#DCE0F4] font-inter text-xl font-bold leading-8;
    }
  }
}

.idle-agent-card {
  @apply w-72 h-fit py-5 px-6 border border-[#414141] rounded-lg bg-gradient-to-r from-[#333C44] to-[#2D2F32]
  shadow-[0px_1px_4px_0px_rgba(0,0,0,0.15)] text-white font-inter;

  .agent-name {
    @apply font-bold text-lg leading-6 self-center;
  }

  .content-container {
    @apply flex flex-col gap-3;
  }

  .idle-agent-info-section {
    @apply flex items-start gap-3;
  }

  .idle-agent-status-section {
    @apply flex flex-col text-[#BEC1CE];

    .status-label {
    }

    .status-value {
    }
  }

  .idle-agent-tools-section {
    @apply flex gap-2;

    .tools-indicator-container {
      @apply flex gap-1;

      .indicator {
        @apply w-9 h-9 rounded-lg bg-[#141517] overflow-x-auto;
      }
    }
  }

  .buttons-container {
    @apply flex items-center gap-2 font-sans font-bold text-[#7d829a];
  }
}

.working-agent-card {
  @apply w-72 h-fit py-4 px-6 relative flex flex-col gap-2.5 items-start justify-between rounded-lg border border-[#414141]
  bg-gradient-to-r from-[#333C44] to-[#2D2F32] shadow-[0px_1px_4px_0px_rgba(0,0,0,0.15)] font-inter text-white;

  /* Animated border */

  &::before {
    content: '';
    @apply absolute inset-[-1px] bg-gradient-to-r from-[#414141] to-[#414141] rounded-lg;
    /*animation: rotate 4s linear infinite;*/
    z-index: -1;
  }

  /* Background blobs container */

  .background-blobs {
    @apply absolute inset-0 overflow-hidden rounded-[10px_0_0_0] pointer-events-none;
    z-index: -2;

    .blob {
      @apply absolute w-48 h-48 rounded-full blur-3xl opacity-20;

      &.blob-1 {
        @apply bg-blue-400 -top-24 -left-24;
      }

      &.blob-2 {
        @apply bg-blue-500 bottom-0 right-0;
      }
    }
  }

  .agent-info-section {
    @apply flex items-center justify-center gap-2;

    .agent-name {
      @apply flex flex-col font-bold text-lg leading-6 self-center;
    }
  }

  .agent-tasks-section {
    @apply bg-[#232629] w-full h-24 rounded-lg p-2 overflow-y-auto text-sm text-[#BEC1CF];

    .agent-tasks-title {
      @apply flex items-center justify-start gap-2;
    }

    .agent-tasks-container {

    }
  }

  .buttons-container {
    @apply flex items-center gap-2 w-full font-sans font-bold;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
